<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>MORSE</title>

    <script src="https://cdn.2w.vc/Jquery/jquery-3.6.0.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="morse">
      <div id="dotdash"></div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/utils.js"></script>
  </body>
</html>
